<footer class="site-footer">
  <div class="container">
    <p>© {{ "now" | date: "%Y" }} Iranian Paderborn. همه حقوق محفوظ است.</p>
    <nav class="footer-nav">
      <a href="/legal/">حقوقی</a> | 
      <a href="/privacy/">حریم خصوصی</a> | 
<!--      <a href="https://facebook.com/yourpage" target="_blank" rel="noopener">فیسبوک</a> | -->
      <a href="https://instagram.com" target="_blank">اینستاگرام</a> |
      <a href="https://telegram.org" target="_blank">تلگرام</i></a> |
      <a href="mailto:farshad.afshari68@gmail.com">ایمیل</i></a>
    </nav>
  </div>
</footer>
