<footer class="site-footer">
  <div class="container">
    <p>© {{ "now" | date: "%Y" }} Iranian Paderborn. Alle Rechte vorbehalten.</p>
    <nav class="footer-nav">
      <a href="/legal/">Rechtliches</a> |
      <a href="/privacy/">Datenschutz</a> |
      <a href="https://instagram.com/iranianpaderborn" target="_blank">Instagram</a> |
      <a href="https://t.me/Farshad68" target="_blank">Telegram</i></a> |
      <a href="mailto:iranianpaderborn@web.de">E-mail</i></a>
    </nav>
  </div>
</footer>