<header class="site-header-bar">
  <div class="container">
    <nav class="main-nav">
      <a class="nav-btn" href="{{ '/fa/' | relative_url }}">صفحه نخست</a>
      <a class="nav-btn" href="{{ '/fa/geschaefte/' | relative_url }}">کسب و کارها</a>
      <a class="nav-btn" href="{{ '/fa/dienstleistungen/' | relative_url }}">خدمات</a>
      <a class="nav-btn" href="{{ '/fa/doctors/' | relative_url }}">پزشک ها</a>
      <a class="nav-btn" href="{{ '/fa/blog/' | relative_url }}">بلاگ</a>
      <a class="nav-btn" href="{{ '/fa/about/' | relative_url }}">درباره ما</a>
      <a class="nav-btn" href="{{ '/fa/kontakt/' | relative_url }}">تماس با ما</a>
      <a class="nav-btn" href="{{ '/de/' | relative_url }}">Deutsch</a>
    </nav>
  </div>
</header>
