---
layout: default
---

<div class="container">
  <!-- Business Categories Section -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="border rounded p-3 bg-light h-100 d-flex flex-column">
        <h2 class="mb-3">{{ "dienstleistungen" | capitalize }}</h2>
        {% assign filtered_items = site.dienstleistungen_de | where: "selected_option", true | slice: 0,5 %}
        <ul class="list-unstyled flex-grow-1">
          {% for item in filtered_items %}
          <li><a href="{{ item.url }}">{{ item.name | capitalize}} ({{item.category}})</a></li>
          {% endfor %}
        </ul>
        <a href="/de/dienstleistungen/" class="btn btn-primary mt-auto align-self-start"> Alle ansehen</a>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="border rounded p-3 bg-light h-100 d-flex flex-column">
        <h2 class="mb-3">{{ "Ärzte" | capitalize }}</h2>
        <ul class="list-unstyled flex-grow-1">
          {% for item in site.doctors_de %}
          <li><a href="{{ item.url }}">{{ item.name }} ({{item.category}})</a></li>
          {% endfor %}
        </ul>
        <a href="/de/doctors/" class="btn btn-primary mt-auto align-self-start"> Alle ansehen</a>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="border rounded p-3 bg-light h-100 d-flex flex-column">
        <h2 class="mb-3">{{ "Geschäfte" | capitalize }}</h2>
        <ul class="list-unstyled flex-grow-1">
          {% for item in site.geschaefte_de %}
          <li><a href="{{ item.url }}">{{ item.name }} ({{item.category}})</a></li>
          {% endfor %}
        </ul>
        <a href="/de/geschaefte/" class="btn btn-primary mt-auto align-self-start"> Alle ansehen</a>
      </div>
    </div>
  </div>

  <!-- Blog Section -->
  <section class="blog-posts mt-5">
    <h2 class="mb-3"> Neueste Blogbeiträge</h2>
    <ul class="list-unstyled">
      {% assign posts_filtered = site.posts_de | sort: "date" | reverse | slice: 0,5 %}
      {% for post in posts_filtered %}
        <li class="mb-2">
          <a href="{{ post.url }}">{{ post.title }}</a><br />
          <small class="text-muted">{{ post.date | date: "%Y-%m-%d" }}</small>
        </li>
      {% endfor %}
    </ul>
    <a href="/de/blog/" class="btn btn-outline-primary mt-3">Alle Beiträge anzeigen</a>
  </section>

</div>

