---
layout: default_fa
---

<div class="container">

  <!-- Header Image -->
  <header class="site-header my-4">
    <img src="{{ '/assets/img/header1920x600.jpg' | relative_url }}" alt="Header Photo" class="img-fluid w-100 rounded shadow-sm" />
  </header>


  <!-- Business Categories Section -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="border rounded p-3 bg-light h-100 d-flex flex-column">
        <h2 class="mb-3">{{ " خدمات"  }}</h2>
        {% assign filtered_items = site.dienstleistungen_fa | where: "selected_option", true | slice: 0,5 %}
        <ul class="list-unstyled flex-grow-1">
          {% for item in filtered_items %}
          <li><a href="{{ item.url }}">{{ item.name }} ({{item.category}})</a></li>
          {% endfor %}
        </ul>
        <a href="/fa/dienstleistungen/" class="btn btn-primary mt-auto align-self-start"> مشاهده همه</a>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="border rounded p-3 bg-light h-100 d-flex flex-column">
        <h2 class="mb-3">{{ "پزشک ها"  }}</h2>
        <ul class="list-unstyled flex-grow-1">
          {% for item in site.doctors_fa %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
        <a href="/fa/dienstleistungen/" class="btn btn-primary mt-auto align-self-start"> مشاهده همه</a>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="border rounded p-3 bg-light h-100 d-flex flex-column">
        <h2 class="mb-3">{{ "کسب و کارها"  }}</h2>
        <ul class="list-unstyled flex-grow-1">
          {% for item in site.Geschaefte_fa %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
        <a href="/fa/dienstleistungen/" class="btn btn-primary mt-auto align-self-start"> مشاهده همه</a>
      </div>
    </div>
  </div>

  <!-- Blog Section -->
  <section class="blog-posts mt-5">
    <h2 class="mb-3"> جدیدترین پست ها</h2>
    <ul class="list-unstyled">
      {% assign posts_filtered = site.posts_fa | slice: 0,5 %}
      {% for post in posts_filtered %}
      <li class="mb-2">
        <a href="{{ post.url }}">{{ post.title }}</a><br />
        <small class="text-muted">{{ post.date | date: "%Y-%m-%d" }}</small>
      </li>
      {% endfor %}
    </ul>
    <a href="/blog/" class="btn btn-outline-primary mt-3">مشاهده همه پست ها</a>
  </section>

</div>

